services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: konterra
      POSTGRES_PASSWORD: konterra
      POSTGRES_DB: konterra
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
